<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<RollingFile name="LOGFILE"
			fileName="logs/SFTPFileSyncLog"
			filePattern="logs/SFTPFileSyncLog-%d{yyyy-MM-dd}.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] %msg%n" />
			<TimeBasedTriggeringPolicy />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="LOGFILE" />
		</Root>
	</Loggers>
</Configuration>